*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    margin: 0;
    font-variant: tabular-nums;
    font-feature-settings: 'tnum';
}
[tabindex='-1']:focus {
    outline: none !important;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
address {
    margin-bottom: 1em;
    font-style: normal;
    line-height: inherit;
}
ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0;
}
ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}
dt {
    font-weight: 500;
}
dd {
    margin-bottom: 0.5em;
    margin-left: 0;
}
blockquote {
    margin: 0 0 1em;
}
dfn {
    font-style: italic;
}
b,
strong {
    font-weight: 600;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
pre,
code,
kbd,
samp {
    font-size: 1em;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
pre {
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto;
}
figure {
    margin: 0 0 1em;
}
img {
    vertical-align: middle;
    border-style: none;
}
a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
    touch-action: manipulation;
}
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}
caption {
    padding-top: 0.75em;
    padding-bottom: 0.3em;
    text-align: left;
    caption-side: bottom;
}
input,
button,
select,
optgroup,
textarea {
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
input[type='radio'],
input[type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
}
textarea {
    overflow: auto;
    resize: vertical;
}
fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
}
legend {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0.5em;
    padding: 0;
    color: inherit;
    font-size: 1.5em;
    line-height: inherit;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
output {
    display: inline-block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none !important;
}
mark {
    padding: 0.2em;
    background-color: #feffe6;
}
a {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    transition: color 0.25s ease-in-out 0s;
}
.clearfix::before {
    display: table;
    content: '';
}
.clearfix::after {
    display: table;
    clear: both;
    content: '';
}
/* grid */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row.row-large {
    margin-right: -20px;
    margin-left: -20px;
}
.row.row-mini {
    margin-right: -5px;
    margin-left: -5px;
}
.row.row-fluid {
    margin-right: 0;
    margin-left: 0;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto,
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl,
.col-xxl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col-large {
    padding-right: 20px;
    padding-left: 20px;
}
.col-mini {
    padding-right: 5px;
    padding-left: 5px;
}
.col-fluid {
    padding-right: 0;
    padding-left: 0;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

/* panels */
.flex0,
.flex1,
.flex2,
.flex3,
.flex4 {
    display: flex;
}
.flex1 {
    flex-direction: column;
}
.flex2 {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.flex3 {
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.flex4 {
    flex-direction: column;
    justify-content: center;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.p-hidden {
    overflow: hidden;
}
.p-absolute,
.img-mask > .inside {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.inline-flex {
    display: inline-flex;
}
.inline-block {
    display: inline-block;
}

/* links */
.lien {
    transition: opacity 0.25s ease-in-out 0s;
}
.lien-filter {
    position: relative;
    outline: none;
}
.lien-filter::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: calc(50% - 0.1em);
    height: 1.2px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out 0s;
    transform-origin: center left;
    background-color: currentColor;
    will-change: transform;
}

/* btns */
.btn {
    position: relative;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    text-transform: lowercase;
    justify-content: center;
}
.btn-sm {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5;
}
.btn-md {
    padding: 0.9375rem 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}
.btn-primary {
    color: var(--bs-white);
    background-color: var(--bs-black);
}
.btn-light {
    color: var(--bs-black);
    background-color: var(--bs-light);
}
.btn > .ball {
    display: inline-block;
    width: 0.375rem;
    height: 0.375rem;
    margin-left: 1.25rem;
    vertical-align: middle;
    border-radius: 100%;
    background-color: currentColor;
}
.btn:hover > .ball {
    animation: ballIn 0.5s ease-in-out infinite;
}
.btn-circle {
    border-radius: 100%;
}
.btn-circle::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    border-radius: 100%;
    background-color: inherit;
    transition: transform 250ms ease-in-out 0s;
}
.btn-circle:hover::before {
    transform: scale(1.1);
}
.btn-circle.btn-sm {
    width: 2.75rem;
    height: 2.75rem;
    padding: 0.625rem;
}
.btn-circle.btn-md {
    width: 6.875rem;
    height: 6.875rem;
    padding: 1.25rem;
}
button.btn {
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    border: none;
}
.btn-submit > .spinner {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    align-items: center;
    justify-content: center;
}
.btn-submit.loading {
    cursor: default;
    opacity: 0.75;
    pointer-events: none;
}
.btn-submit.loading > .ball {
    opacity: 0;
}
.btn-submit.loading > .spinner {
    display: inline-flex;
}

/* titles */
.title1 {
    font-size: 4.375rem;
}
.title2 {
    font-size: 3rem;
}
.title3 {
    font-size: 2.125rem;
    line-height: 1.3;
}

/* headers */
.header2 {
    font-size: 2.5rem;
}
.header3 {
    font-size: 2.425rem;
    line-height: 1.3;
}
.header4 {
    font-size: 1.5rem;
    line-height: 1.4;
}
.header5 {
    font-size: 1.25rem;
    line-height: 1.5;
}

/* parag */
.parag1 {
    font-size: 0.9375rem;
    line-height: 1.5;
}
.parag2 {
    font-size: 1rem;
    line-height: 1.6;
}
.parag3 {
    font-size: 1.0625rem;
    line-height: 1.6;
}
.parag4 {
    font-size: 0.875rem;
    line-height: 1.6;
}
.parag5 {
    font-size: 2.125rem;
    line-height: 1.3;
}
.parag6 {
    font-size: 1.125rem;
    line-height: 1.5;
}

/* helpers */
.m-auto {
    margin: auto;
}
.ml-auto {
    margin-left: auto;
}
.l-none {
    margin: 0;
    padding: 0;
    list-style: none;
}
.p-7 {
    padding: 7.5rem 0;
}
.p-10 {
    padding: 10rem 0;
}
.pt-5 {
    padding-top: 5rem;
}
.pl-20 {
    padding-left: 20px;
}
.pm-081 {
    padding-bottom: 0.8125rem;
}
.pm-178 {
    padding-bottom: 1.875rem;
}
.pm-312 {
    padding-bottom: 3.125rem;
}
.pm-375 {
    padding-bottom: 3.75rem;
}
.pm-473 {
    padding-bottom: 4.375rem;
}
.pm-75 {
    padding-bottom: 7.5rem;
}
.pm-10 {
    padding-bottom: 10rem;
}
.mt-1,
.ul-1 > li + li {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-25 {
    margin-top: 2.5rem;
}
.mt-031 {
    margin-top: 0.3125rem;
}
.mt-062 {
    margin-top: 0.625rem;
}
.mt-127 {
    margin-top: 1.275rem;
}
.mt-156 {
    margin-top: 1.5625rem;
}
.mt-187 {
    margin-top: 1.875rem;
}
.mt-312 {
    margin-top: 3.125rem;
}
.mt-437 {
    margin-top: 4.375rem;
}
.mt-5 {
    margin-top: 5rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-25 {
    margin-bottom: 2.5rem;
}
.mb-5 {
    margin-bottom: 5rem;
}
.mb-10 {
    margin-bottom: 10rem;
}
.mb-037 {
    margin-bottom: 0.375rem;
}
.mb-156 {
    margin-bottom: 1.5625rem;
}
.mb-187 {
    margin-bottom: 1.875rem;
}
.mb-218 {
    margin-bottom: 2.1875rem;
}
.mb-281 {
    margin-bottom: 2.8125rem;
}
.mb-312 {
    margin-bottom: 3.125rem;
}
.mb-375 {
    margin-bottom: 3.75rem;
}
.mb-462 {
    margin-bottom: 4.625rem;
}
.mr-05 {
    margin-right: 0.5rem;
}

/* images */
.img-circle {
    border-radius: 50%;
}
.img-fluid {
    width: 100%;
    height: auto;
}
.img-vertical {
    height: 100%;
    width: auto;
}
.img-transition {
    transition: transform 1.8s cubic-bezier(0.2, 1, 0.2, 1);
}
.img-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 120%;
    z-index: 1;
}
.img-mask > .inside {
    transform: skewX(-10deg);
    transform-origin: bottom;
    background-color: var(--bs-white);
}

/* utils */
.t-font2 {
    font-family: 'Outfit';
}
.t-block {
    display: block;
}
.t-lower {
    text-transform: lowercase;
}
.t-trunc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.t-center {
    text-align: center;
}
.f-300 {
    font-weight: 300;
}
.f-500 {
    font-weight: 500;
}
.f-600 {
    font-weight: 600;
}
.f-700 {
    font-weight: 700;
}

/* colors */
.t-white {
    color: var(--bs-white);
}
.t-black {
    color: var(--bs-black);
}
.t-black {
    color: var(--bs-black);
}
.t-light {
    color: var(--bs-light);
}
.t-gray1 {
    color: var(--bs-gray1);
}
.t-gray2 {
    color: var(--bs-gray2);
}
.t-gray3 {
    color: var(--bs-gray3);
}
.t-red {
    color: var(--bs-red);
}
.b-white {
    background-color: var(--bs-white);
}
.b-black {
    background-color: var(--bs-black);
}

/* primeng */
.pp-drawer {
    width: 568px !important;
    max-width: 100% !important;
}
.p-inputtext,
.p-select,
.p-textarea {
    border-top-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}
.p-scrolltop.p-button {
    inset-block-end: 3rem !important;
    inset-inline-end: 3rem !important;
}
.p-image-preview:hover > .img-transition {
    transform: scale(1.05);
}

/* animations */
.animate-fadeIn {
    opacity: 0;
    animation: fadeIn 0.25s ease-in-out forwards;
}
.animate-slideIn {
    opacity: 0;
    animation: slideIn 0.25s ease-in-out forwards;
}
.animate-enterIn {
    animation: enterIn 250ms ease-in-out 0s;
}
.animate-leaveIn {
    animation: leaveIn 250ms ease-in-out 0s;
}
.animate-fade {
    animation: fadeIn 0.25s ease-in-out 0s;
}
.aos-fadeIn {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0s;
}
.aos-fadeUp {
    opacity: 0;
    animation: aosFadeUp 0.5s ease-in-out 0s;
}
.aos-fadeLeft {
    opacity: 0;
    animation: aosFadeLeft 0.5s ease-in-out 0s;
}
.aos-fadeRight {
    opacity: 0;
    animation: aosFadeRight 0.5s ease-in-out 0s;
}
.aos-zoomIn {
    opacity: 0;
    animation: aosZoomIn 0.5s ease-in-out 0s;
}
.aos-zoomUp {
    opacity: 0;
    animation: aosZoomUp 0.5s ease-in-out 0s;
}
.aos-maskIn {
    animation: aosMaskIn 1s ease 0s;
}
.animation-0 {
    animation-delay: 0.1s;
}
.animation-1 {
    animation-delay: 0.2s;
}
.animation-2 {
    animation-delay: 0.3s;
}
.animation-3 {
    animation-delay: 0.4s;
}
.animation-4 {
    animation-delay: 0.5s;
}
.animation-5 {
    animation-delay: 0.6s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes enterIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes leaveIn {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0.6);
    }
}
@keyframes ballIn {
    0% {
        transform: translateY(0) scaleY(0.6);
    }
    15% {
        transform: scaleY(1);
    }
    100% {
        transform: translateY(-12px);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
}
@keyframes aosFadeUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes aosFadeLeft {
    0% {
        opacity: 0;
        transform: translate3d(100px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes aosFadeRight {
    0% {
        opacity: 0;
        transform: translate3d(-100px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes aosZoomIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes aosZoomUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100px, 0) scale(0.6);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
    }
}
@keyframes aosMaskIn {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

/* responsive */
@media (max-width: 575.98px) {
    .hidden-xs-down {
        display: none !important;
    }
    .title2 {
        font-size: 2rem;
    }
    .header2 {
        font-size: 1.4rem;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .hidden-xs-up {
        display: none !important;
    }
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 767.98px) {
    .hidden-sm-down {
        display: none !important;
    }
    .title1 {
        font-size: 3.125rem;
    }
    .title2 {
        font-size: 2.5rem;
    }
    .header2 {
        font-size: 2rem;
    }
    .p-7 {
        padding: 5rem 0;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .hidden-sm-up {
        display: none !important;
    }
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 991.98px) {
    .hidden-md-down {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .hidden-md-up {
        display: none !important;
    }
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 1199.98px) {
    .hidden-lg-down {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .hidden-lg-up {
        display: none !important;
    }
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-xl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 1399.98px) {
    .hidden-xl-down {
        display: none !important;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .hidden-xl-up {
        display: none !important;
    }
    .col-xxl {
        flex: 1 0 0%;
    }
    .col-xxl-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-xxl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-xxl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-xxl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xxl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xxl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-xxl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xxl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xxl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-xxl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xxl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-xxl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-xxl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

/* shapes */
.mac_path {
    transform-origin: center center;
}
